<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoadToElDorado</title>
    <link rel="stylesheet" href="../assets/styles/tablero.css">
</head>
<body>
<div class="tablero">

        <div class="piramid">



        </div>


        <div class="row horizontal-row bottom-row">
            <div class="space rock">
                1

            </div>
            <div class="space rock">
                2

            </div>
            <div class="space rock">
                3

            </div>
            <div class="space rock">
                4

            </div>
            <div class="space rock">
                5

            </div>
            <div class="space rock">
                6

            </div>

            <div class="space rock">
                7

            </div>


            <div class="space rock">
                8

            </div>

            <div class="space rock">
                9

            </div>
        </div>



        <div class="row vertical-row left-row">
            <div class="space sand">


            </div>
            <div class="space rockandsand">

            </div>
            <div class="space rockandsand">

            </div>
            <div class="space rock">

            </div>
            <div class="space shop">

            </div>
            <div class="space rock">

            </div>
            <div class="space sand">

            </div>
            <div class="space rock">

            </div>
            <div class="space sand">

            </div>
        </div>



        <div class="row horizontal-row top-row">
            <div class="space rock">

            </div>
            <div class="space rock">


            </div>
            <div class="space rock">

            </div>
            <div class="space rock">

            </div>
            <div class="space rock">

            </div>
            <div class="space rock">

            </div>
            <div class="space rockandsand">

            </div>
            <div class="space rockandsand">

            </div>
            <div class="space shop">

            </div>
        </div>



        <div class="row vertical-row right-row">
            <div class="space sand">

            </div>
            <div class="space sand">

            </div>
            <div class="space sand">

            </div>
            <div class="space sand">

            </div>
            <div class="space sand">

            </div>
            <div class="space sand">

            </div>
            <div class="space sand">

            </div>

            <div class="space sand">

            </div>

            <div class="space sand">

            </div>
        </div>

        <div class="space corner-1">


        </div>

        <div class="space corner-2">

        </div>

        <div class="space corner-3">

        </div>

        <div class="space corner-4">
        </div>

    </div>

</body>
</html>