.Login {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #05050539;
    color: rgb(213, 213, 213);
    font-weight: bold;

  }
  
  .Login form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .Login form input[type="text"],
  .Login form input[type="email"],
  .Login form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .Login form input[type="submit"] {
    background-color:  #2a861b;
    color: rgb(213, 213, 213);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .Login form input[type="submit"]:hover {
    background-color: #187bcd;
  }

  .error {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ff4d4d; /* red */
    border-radius: 5px;
    color: #ff4d4d; /* red */
    background-color: #ffe6e6; /* light red */
    text-align: center;
  }

  .successMsg {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    color:  rgb(213, 213, 213); /* green */
    background-color: #22a410; /* light green */
    text-align: center;
    font-weight: bold;
  }
.loginDiv{
    padding-top: 70px;
}
.boton{
    background-color: #2a861b;
    font-weight: bold;
    color: rgb(213, 213, 213);
}